{% extends "layout.html" %}
{% block title %}Charity action{% endblock %}
{% block content %}
<div class="mt-5">
<form action="{{ url_for('auth.register') }}" method="post">
<div class="mb-3"><label for="nom" class="form-label">Nom</label>
<input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required></div>
<div class="mb-3"><label for="prenom" class="form-label">Prénom</label>
<input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required></div>
<div class="mb-3"><label for="username" class="form-label">Nom d'utilisateur</label>
<input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" required></div>
<div class="mb-3"><label for="password" class="form-label">Mot de passe</label>
<input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required></div>
<button type="submit" class="btn btn-primary">S'inscrire</button>
</form>
</div>
{% endblock %}