{% extends "layout.html" %}

{% block content %}
<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">Faire un don</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form class="row g-3" action="{{ url_for('charity_web.don',projetId=projet.id) }}" method="post">
                                <input class="form-control" name="projet_id" value="{{ projet.id}}" id="projet_id" hidden>
                                <div class="col-auto">
                                    <label for="input" class="visually-hidden">Un nom</label>
                                    <input type="text" class="form-control" id="identifiant" placeholder="identifiant" name="identifiant">
                                </div>
                                <div class="col-auto">
                                    <label for="input2" class="visually-hidden">Montant du don</label>
                                    <input type="text" class="form-control" id="montant" placeholder="montant" name="montant">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">Télephone</span>
                                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="telephone" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="col-auto">
                                    <input class="form-check-input" type="radio" id="tmoney" name="modePayement" value="Tmoney">
                                    <label class="form-check-label" for="flexRadioDefault1">Tmoney</label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-check-input" type="radio" id="flooz" name="modePayement" value="flooz">
                                    <label class="form-check-label" for="flexRadioDefault1">Flooz</label>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Confirm Payment</button>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}