{% extends "layout.html" %}

{% block content %}
<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-6">Faire un don</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <!-- Credit card form content -->
                    <div class="tab-content">
                        <!-- credit card info-->
                        <div id="credit-card" class="tab-pane fade show active pt-3">
                            <form role="form" onsubmit="event.preventDefault()">
                                <input class="form-control" name="projet_id" value="{{ projet.id}}" hidden>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>
                                                <span class="hidden-xs">
                                                    <h6>Un nom</h6>
                                                </span>
                                            </label>
                                            <div class="input-group">
                                                <input type="text" placeholder="Identifiant" name="" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4">
                                            <label>
                                                Montant du don
                                            </label>
                                            <input type="text" required class="form-control" placeholder="montant">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                        <div class="form-group mb-4">
                                            <label data-toggle="tooltip">
                                                Téléphone
                                            </label>
                                            <input type="text" required class="form-control" placeholder="Numéro de mobile money">
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <h6>Tmoney</h6>
                                            <input type="radio">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <h6>Flooz</h6>
                                            <input type="radio">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm">Close</button>
                                     <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"> Confirm Payment </button>
                                </div>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}